# Ignore secret files
.env
config.json

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore system files
*.DS_Store

# Ignore HTML file
*.html

# Ignore pictures
*.png